<div style="color: pink; font-family:fantasy; font-size:22px; padding-left: 10%;">
  {{> errorMessage}}
</div>
<div class="forumsbody">
  <div class="dashboard2-body">
    <div class="dash2-card">
      <div class="dash2-card-image"></div>
      <div class="dash-card-text">
        <h1>FORUMS</h1>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <article>
    <ul class="accordion">
      <li class="accordion__item">
        <a href="#" class="accordion__link accordion__link_active">OUR COMMUNITY</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <a href="posts/category/community">
                <h3 style="color: black;">Go to Community Page -> </h3>
              </a>
              <li><a href="#"><span>1</span>
                  <h3>
                    Welcome
                  </h3>
                </a>
                <p>Creator: Admin</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 1000</p>
              </li>
              {{#each cposts}}
              <li>
                <a href="/posts/post/{{this._id}}">
                  <h3 style="color:whitesmoke">{{this.title}}<br></h3>
                  <p>Creator: {{this.author.username}}</p>
                  <p>Date: {{this.date}}</p>
                  <p>Upvotes: {{this.voteScore}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">ASTRONOMY AND STARGAZING</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <a href="posts/category/astronomy">
                <h3 style="color: black;">Go to Astronomy Page -> </h3>
              </a>
              {{#each aposts}}
              <li>
                <a href="/posts/post/{{this._id}}">
                  <h3 style="color:whitesmoke">{{this.title}}<br></h3>
                  <p>Creator: {{this.author.username}}</p>
                  <p>Date: {{this.date}}</p>
                  <p>Upvotes: {{this.voteScore}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">EQUIPMENT</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <a href="posts/category/equipment">
                <h3 style="color: black;">Go to Equipment Page -> </h3>
              </a>
              {{#each eposts}}
              <li>
                <a href="/posts/post/{{this._id}}">
                  <h3 style="color:whitesmoke">{{this.title}}<br></h3>
                  <p>Creator: {{this.author.username}}</p>
                  <p>Date: {{this.date}}</p>
                  <p>Upvotes: {{this.voteScore}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">GAMING</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <a href="posts/category/gaming">
                <h3 style="color: black;">Go to Gaming Page -> </h3>
              </a>
              {{#each gposts}}
              <li>
                <a href="/posts/post/{{this._id}}">
                  <h3 style="color:whitesmoke">{{this.title}}<br></h3>
                  <p>Creator: {{this.author.username}}</p>
                  <p>Date: {{this.date}}</p>
                  <p>Upvotes: {{this.voteScore}}</p>
                </a>
              </li>
              {{/each}}

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">FAQ</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <a href="posts/category/faq">
                <h3 style="color: black;">Go to FAQs Page -> </h3>
              </a>
              {{#each fposts}}
              <li>
                <a href="/posts/post/{{this._id}}">
                  <h3 style="color:whitesmoke">{{this.title}}<br></h3>
                  <p>Creator: {{this.author.username}}</p>
                  <p>Date: {{this.date}}</p>
                  <p>Upvotes: {{this.voteScore}}</p>
                </a>
              </li>
              {{/each}}

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">REVIEWS</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <a href="posts/category/review">
                <h3 style="color: black;">Go to Reviews Page -> </h3>
              </a>
              {{#each rposts}}
              <li>
                <a href="/posts/post/{{this._id}}">
                  <h3 style="color:whitesmoke">{{this.title}}<br></h3>
                  <p>Creator: {{this.author.username}}</p>
                  <p>Date: {{this.date}}</p>
                  <p>Upvotes: {{this.voteScore}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </ul>
      </li>
    </ul>

  </article>
  <div class="forumrow">   
    <div class="forumcardcolumn">
      <div class="forumcard2">
        <a style="color:white;" href="/posts/newpost">Post a Thread</a></div>
    </div>
    <div class="forumcardcolumn">
      <div class="forumcard">
        <h3>Members online</h3>
        <br>
        {{#each ousers}}
        <p>
          <li>
            {{this.username}}
          </li>
        </p>
        {{/each}}
      </div>
    </div>
    <br>
    <br>
    <div class="forumcardcolumn">
      <div class="forumcard">
        <h3>Forum statistics</h3>
        <br>
        <p>Total threads: {{plen}}</p>
        <p>Total members: {{ulen}}</p>
        <p>Most Active Member: _Anurag</p><br>
      </div>
    </div>
   

  </div>
</div>
</div>




<script src="/JS/forumsaccordion.js"></script>