<div style="color: pink; font-family:fantasy; font-size:22px; padding-left: 10%;">
    {{> errorMessage}}
</div>

<div class="container">
    <h1 style="color:white">Search Results</h1>
    {{#if users}}
    <ul>
        <h1 style="color:white">Users which we found related to your search.</h1>
        {{#each users}}
        <a href="#">
            <li style="list-style-type:none; color:rgb(30, 255, 0); font-size: 150%">

                <div class="container card" style="overflow:hidden;">
                    <strong>{{this.username}}</strong>
                    <small>{{this.firstName}} {{this.lastName}}</small>
                    <small>{{this.email}}</small>
                    <em>
                        <small style="color:#333">Joined on : {{this.date}}</small>
                    </em>
                </div>
                <div class="container">
                    <hr style="background-color: azure;">
                </div>

            </li>
        </a>
        <br>
        {{/each}}
    </ul>
    {{/if}}
    {{#if posts}}
    <ul>
        <h1 style="color:white">Posts which we found related to your search.</h1>
        {{#each posts}}
        <a href="/posts/post/{{this._id}}">
            <li style="list-style-type:none; color:rgb(30, 255, 0); font-size: 150%">

                <div class="container card" style="overflow:hidden;">
                    <strong>{{this.title}}</strong>
                    <small><textarea disabled readonly maxlength="10" cols="100">{{this.body}}</textarea></small>
                    <small style="color:#333">{{this.date}}</small>
                    <em>
                        <small style="color:#333">
                            by {{this.author.username}}
                        </small>
                    </em>
                    <form class="vote-up" data-id="{{this._id}}">
                        <button type="submit">Vote Up</button>
                    </form>
                    |Upvotes : {{this.voteScore}}
                    <form class="vote-down" data-id="{{this._id}}">
                        <button type="submit">Vote Down</button>
                    </form>
                </div>
                <div class="container">
                    <hr style="background-color: azure;">
                </div>

            </li>
        </a>
        <br>
        {{/each}}
    </ul>
    {{/if}}