<h1 style="color: ghostwhite;">Post Preview</h1>

<h1>{{ title }}</h1>

<div style="color: pink; font-family:fantasy; font-size:22px; padding-left: 10%;">
    {{> errorMessage}}
</div>

<h1 style="color:white">Search Posts</h1>
<div class="container">
    <form action="/posts" method="GET">
        <label style="color:white">Title</label>
        <input type="text" name="title" value="{{searchOptions.title}}">
        <button type="submit">Search</button>
    </form>
</div>
<br>

<ul>
    {{#each posts as | post |}}
    <a href="#">
    <li style="list-style-type:none; color:rgb(30, 255, 0); font-size: 150%">
        
        <div class="container card" style="max-height: 172px; min-height: 172px; overflow:hidden;">
            <strong>{{post.title}}</strong>
            <small><textarea disabled readonly maxlength="10" cols="100">{{post.body}}</textarea></small>
            <small style="color:#333">{{post.date}}</small>
            <em><small style="color:#333">by {{post.user}}</small></em>
        </div>
        <div class="container"><hr style="background-color: azure;"></div>
        
    </li>
    </a>
    <br>
    {{/each}}
</ul>