<div class="dashboard-body wrapper">
    <div class="new-flex-h">
        <div class="main-userbox">
            <div class="main-ebg-user">
                <img style="flex-grow: 0" src="/images/userlogo.png" width="80px" height="50px">
                <h4 style="flex-grow: 3">{{post.author.username}}</h4>
                <div class="votebox">
                    <div>
                        <form class="vote-up" data-id="{{post._id}}">
                            <button type="submit">Vote Up</button>
                        </form>
                    </div>
                    <div>
                        <form class="vote-down" data-id="{{post._id}}">
                            <button type="submit">Vote Down</button>
                        </form>
                    </div>
                    |Upvotes : {{post.voteScore}}

                </div>
            </div>
        </div>
        <div class="main-threadbox">
            <div class="main-ebg-thread">
                <h1 style="color:whitesmoke">{{post.title}}</h1><br>
                <hr>
                <p style="color:whitesmoke">
                    {{post.body}}
                    <br>
                    <img style="max-width: 400px; max-height: 400px" src={{post.attachmentImgPath}}>
                </p>
                <hr>
                <div style="float: right; margin:2%">{{post.date}}</div>
            </div>
        </div>
    </div>
    <div class="new-flex-h">
        {{#each postcomments}}
        <div class="main-userbox">
            <div class="comment-user">
                <img src="/images/userlogo.png" width="80px" height="50px">
                <h5>{{this.author.username}}</h5>
                <div class="votebox">
                    <div>
                        <form data-id="{{this._id}}">
                            <button type="submit">Vote Up</button>
                        </form>
                    </div>
                    <div>
                        <form class="vote-down" data-id="{{this._id}}">
                            <button type="submit">Vote Down</button>
                        </form>
                    </div>
                    |Upvotes : {{this.voteScore}}

                </div>
            </div>
        </div>
        <div class="main-threadbox">
            <div class="comment-content">
                <p>{{this.body}}</p>
            </div>
        </div>
        {{/each}}

        {{#if user}}
        <div class="main-userbox">
            <div class="comment-user">
                <img src="/images/userlogo.png" width="80px" height="50px">
                <h5>{{user.username}}</h5>
            </div>
        </div>
        <div class="main-threadbox">
            <div class="comment-content">
                <form action="/posts/post/{{post._id}}/comments" method="post">
                    <div>
                        <label for="body">Write a comment...</label>
                        <textarea class="form-control" name="body"></textarea>
                    </div>
                    <div class="submit-btn" style="float: right;">
                        <input class="btn btn-primary" type="submit" value="Comment">
                    </div>
                </form>
            </div>
        </div>

    </div>
    {{else}}
    <div style="text-align: center;">
        <h1 class="ebg">
            <a href="/users/login">Login to Comment!</a>
        </h1>
    </div>
    {{/if}}
</div>
</div>