<div class="new-headlinesbody">
    <div class="new-headlinesheader">
        <div class="new-headlines-text">
            <h4>All Headlines</h4>
            <a href="/topnews">
                <h5>Back To Top News</h5>
            </a>
        </div>
    </div>
    <div class="new-headlines">
    {{#each rss_bn}}
        <a href="{{this.link}}">
            <div class="eachheadline">
                <img src="{{#if this.enclosure.url}}{{this.enclosure.url}}{{else}}/images/n1.jpg{{/if}}" alt="Imagine a cool picture here" class="pic">
                <div class="headline1">
                    <div class="ntitle">{{this.title}}</div>
                    <div class="preview">{{this.contentSnippet}}</div>
                    <div class="newsauthor">{{this.pubDate}}</div>
                </div>
            </div>
        </a>
    {{/each}}
    </div>
</div>